@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,700,800,900&display=swap');

body {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
